{{!-- TODO: Change to account details --}}
<div class="entry">
    <span class="description">{{full_name}}</span>
    <span class="entryType">{{email}}</span>
    <br>
    <span class="amount">{{phone_number}}</span>
    <span class="date">{{profile_pic}}</span>
</div>