{{!-- TODO: Change to account details --}}
<div class="entry">
    <span class="description">{{name}}</span>
    <span class="entryType">{{email}}</span>
    <br>
    <span class="amount">{{phone}}</span>
    <span class="date">{{date}}</span>
</div>