<link rel="stylesheet" href="/css/signupstyle.css">

<title>Sign Up</title>

<div id="signupbox">
    <h1>Register a new Account</h1>

    <div id="signupform">
        <form action = "/signup" method="post" enctype="multipart/form-data">
            <label>Email</label>
            <input name="email" id="email" type="text"><br>
            <label>Full Name</label>
            <input name="fullName" id="fullName" type="text"><br>
            <label>Phone Number</label>
            <input name="phoneNumber" id="phoneNumber" type="text"><br>
            <label>Password</label>
            <input name="password" id="password" type="password"><br>
            <label>Confirm Password</label>
            <input name="confirmPass" id="confirmPass" type="password"><br>
            <label for="image">Profile Picture</label>
            <input type="file" name="profPic" id="profPic" required><br>

            <label>Captcha</label><br>
            <div style="display: inline-block;">
                <div class="captcha-container" style="display: inline-block; border-radius: 10px; border: 1px solid var(--primary-color);">
                <img id="captchaImage" src="/captcha" alt="CAPTCHA">
                </div>
                <button type="button" id="refreshCaptcha" style="font-size: 10pt; margin-top:-45px;">Refresh CAPTCHA</button>
            </div>


            <input type="text" id="captchaInput" name="captcha" placeholder="Enter CAPTCHA" required="true">

            <br><br>
            <p id="login">Already have an account? Click here to <a href="/login">Log in</a>!</p>
            <br>
            <button id="signupbutton" type="submit">Sign Up</button>
        </form>
    </div>

    <div id = 'error'>
        <br>
        {{> messages}}
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const captchaImage = document.getElementById('captchaImage');
    const refreshButton = document.getElementById('refreshCaptcha');

    refreshButton.addEventListener('click', function() {
        captchaImage.src = '/captcha?' + Date.now(); // Prevent caching
    });
});


</script>